footer{
   padding: 30px 0px;
}
.footer {
 
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__cipyright {
      font-size: 10px;
      color:rgb(109, 109, 105)
      ;
   }

   &__img {
   }
}
